
html{animation: slideIn 0.5s linear;
}
h1{top:0;
  z-index: 1000;
    background-image:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5), rgba(0,0,0,0.3));
    height:min-content;
    margin: 0;
    transition: padding 0.2s;
    width:100%;
    padding-top:  clamp(1rem, 1.5vw, 2.5rem);
    padding-bottom: clamp(1rem, 1.5vw, 2.5rem);
    backdrop-filter: blur(5px);
  }
  h1:hover{
    padding-top:  clamp(1.5rem, 2vw, 3rem);
    padding-bottom: clamp(1.5rem, 2vw, 3rem);
  }

  .acc {
    font-size: clamp(0.75rem, 1vw, 1.5rem);
    font-weight: 200;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    padding: clamp(0.75rem, 1vw, 1.5rem);
    padding-left:  clamp(1.25rem, 1.5vw, 2.5rem);
    padding-right:   clamp(1.25rem, 1.5vw, 2.5rem);
    background-color:none; 
    color: white;          
    text-decoration: none; 
    cursor: pointer;       
  margin:clamp(0.1875rem, 0.25vw, 0.375rem);
  transition: 0.2s;
  letter-spacing: clamp(0.05rem, 0.1vw, 0.15rem);
  border-bottom: 1px solid transparent;
  }
  
  .acc:hover, .acc:active {
    text-shadow: 0 0 1vw rgba(245, 222, 179, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-left:  clamp(1.5rem, 2vw, 3rem);
    padding-right:   clamp(1.5rem, 2vw, 3rem);
  }


  .ep:active{
    background-color: black;
    color:wheat;
    opacity: 40%;
    padding-right: 2vw;
  padding-left: 2vw;
  }
  .desc{
    font-size: clamp(0.9rem, 1vw, 1.5rem);
    display: inline-block;
    width:65%;
  }

  body{
    background-color: black;
    margin: 0;
  }

  p{color:white}

  .text{
    display:inline-block;
    margin-right:2vw
  }
  .infotext{
    font-size:clamp(0.7rem, 1vw, 1.5rem);
    color:darkgray;
  }
  a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .names{
  font-size: clamp(0.7rem, 1vw, 1.5rem);
    display:inline-block;
  }
  .buttons{
    width:65%;
  }
.logo{
  width:45%;
  transition:0.2s;
}
.logomargin{
  margin-top:  clamp(2.5rem, 3.5vw, 5.5rem);
  margin-bottom:  clamp(2.5rem, 3.5vw, 5.5rem);
}
.bg{
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgcenter{
  background-position: center;
}
.bgright{
  background-position: right;
}
.ep1{
background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.95), rgba(0,0,0,0.7)), url(https://i.ibb.co.com/rR6m8FQR/ep1bg.png);
}

.ep2{
background-image: linear-gradient(90deg, black, rgba(0,0,0,0.5)), url(https://i.ibb.co.com/0VRNSGyw/ep2bg.png);
}

.ep3{
background-image: linear-gradient(90deg, rgba(0,0,0,0.6), rgba(0,0,0,0)), url(https://i.ibb.co.com/TMcGFGNf/ep3bg.png);
}
.ep4{
background-image: linear-gradient(90deg, rgba(0,0,0,0.95), rgba(0,0,0,0.75)), url(https://i.ibb.co.com/KzGBy8gt/ep4bg.png);
}
.ep5{
background-image: linear-gradient(90deg, rgba(0,0,0), rgba(0,0,0,0.8), rgba(0,0,0,0.7)), url(https://i.ibb.co.com/fd0DXJkw/ep5bg.png);
}
.ep6{
background-image: linear-gradient(90deg, black, rgba(0,0,0,0.9), rgba(0,0,0,0.3)), url(https://i.ibb.co.com/JjFNY4sF/placeholder.png);
}
.ep7{
background-image: linear-gradient(90deg, black, rgba(0,0,0,0.9), rgba(0,0,0,0.3)), url(https://i.ibb.co.com/JjFNY4sF/placeholder.png);
}
.ep8{
background-image: linear-gradient(90deg, black, rgba(0,0,0), rgba(0,0,0,0.6)), url(https://i.ibb.co.com/RkWQzCmQ/ep8bg.png);
}
.button{
  font-size:clamp(1.2rem, 1vw, 1.5rem);  
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding:min(1rem,4vw);
  font-weight: bold;
  border-radius: 0.2rem;
  margin:min(2rem,2.5%);
}
@media screen and (max-width:768px){
  .music{
    padding:min(1rem,4vw);
    padding-left:min(4.8rem, 23vw);
    padding-right:min(4.8rem, 23vw);
    border: 1px solid rgba(255, 255, 255, 0.7);
  }
    .music:hover {
  opacity: 70%;
  }
  .music:active{
    opacity:40%
  }
  .logo{
    width:75%;
    display:flex;
    justify-self: center;

  }
  .desc{
    width:75%;
    margin-top:20px;
    display:flex;
    justify-self: center;
    text-align:center
  }
  .info{
    margin-top:35px;
    display:flex;
    justify-self:center;
  }
  .buttons{
    margin-top:35px;
    width:75%;
    display:flex;
    justify-self:center;
    flex-direction: column;
    align-items: center;
    justify-content:center
  }
  .otherepisodes{
      grid-template-columns: repeat(2,1fr);
    }
    .disc{
      width:65%;
      display:flex;
      justify-self:center;
      text-align:center;
    }
    .disctext{
      display:flex;
      justify-self:center;
      text-align:center;

    }
    h1{
      position: fixed;
      display: flex;
      justify-content: center;
    }
    .otherepisodes{
      justify-self: center;
    }
    .otherepisodestitlebox{
      display:flex;
      justify-self:center;
      text-align:center;
      justify-content: center;
    }
    .otherepisodestitle{
      text-align:center
    }
    .logobox{
      padding-top:20%;
      width:100%;
      justify-content: center;
      display:flex;
      z-index: 0;
    }
  }

.music{
    color:white;
    transition:0.2s
  }
  .music:hover {
  opacity: 70%;
  }
  .music:active{
    opacity:40%
  }
.playbutton{
    color:white;
    background-color: rgb(57, 57, 57);
    transition:0.2s
  }
  .playbutton:hover {
    background-color: rgb(71, 71, 71);
  }
  .commentbutton{ 
    color:black;
    background-color: white;
    transition:0.2s
  }
  .commentbutton:hover{
    opacity: 70%; 
  }
  p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .content{
    margin-left: 2vw;
  }
  .disc{
    width:65%
  }
  .disctext{
    font-size:clamp(0.5rem, 1vw, 1.5rem);
    font-weight: 200;
    color: grey;
  }
  .otherepisodestitlebox{
    margin-top:2vw;
  width:65%;
  border-bottom: 1px solid #333;
  }
  .otherepisodestitle{
    font-size:clamp(1rem, 1vw, 2.5rem);
    justify-self:center;
    display:flex;
    transition: 0.2s
  }
  @media screen and (min-width:768px){
    .otherepisodes{
      grid-template-columns: repeat(3,1fr);
    }
    .otherepisodestitlebox{
      display:inline-block;
    }
    h1{
      position: sticky;
    }
  }
  .otherepisodes{
    width: 65%;
    margin-top:2%;
    display: grid; 
    gap: clamp(0.25rem, 0.3rem, 1rem); 
  }
  .cardep{
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    color: white;
    display: flex;
    aspect-ratio: 16/9;
    border-radius: 0.5rem; 
    background-position: center;
    transition: 0.2s;
    opacity:75%
  }
  .cardep1{
    background-image:linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url(https://i.ibb.co.com/j19N12H/1ep.png);
  }
  .cardep2{
    background-image:linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url(https://i.ibb.co.com/fT378SX/2ep.png);
  }
  .cardep3{
    background-image:linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url(https://i.ibb.co.com/gM7Mp0YK/3ep.png);
  }
  .cardep4{
    background-image:linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url(https://i.ibb.co.com/W4f2vS4j/4ep.png);
  }
  .cardep5{
    background-image:linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url(https://i.ibb.co.com/TMCq9mYQ/5ep.png);
  }
  .cardep6{
    background-color: black;
    background-image:linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url(https://i.ibb.co.com/JjFNY4sF/placeholder.png);
  }
  .cardep7{
    background-color: black;
    background-image:linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url(https://i.ibb.co.com/JjFNY4sF/placeholder.png);
  }
  .cardep8{
    background-image:linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url(https://i.ibb.co.com/6cyx3smH/8ep.jpg);
  }
  .cardep:hover{
    opacity:100%
  }
  .cardep:active{
    opacity:100%
  }
  .cardeptext{
    font-size:clamp(0.75rem, 1.5vw, 1.5rem);
    text-decoration: none;
    bottom: -7.5vw;
    left:1.5vw;
    position:relative;
    transition:0.2s
  }
  @keyframes slideIn {
    from { opacity: 0; transform: translateY(2vw); }
    to { opacity: 1; transform: translateY(0); }
}
