
  html{
      animation: slideIn 0.5s linear;
    scroll-behavior: smooth;
  }
  p{
    margin:0;
    color:rgb(206, 206, 206);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .infobox{
    display:flex;
    flex-direction: row;
    gap: clamp(0.5rem, 1vw, 1rem);
    align-items: center;
    background-color: rgba(26, 26, 26, 0.5);
    justify-content: center;
    width:100%;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    transition:0.2s;
    padding-top:clamp(0.5rem, 1vw, 1rem);
    padding-bottom:clamp(0.5rem, 1vw, 1rem);
  }
  .infobox:hover{
        backdrop-filter: blur(3px);
  }
  #eps{
    padding-top:5vw;
    padding-right:2vw;
    padding-left:2vw;
    display:flex;
    gap:2vw;
    flex-direction: column;
  }
  #eps h1{
    display:block;
    text-align:center;
  }
  .infobox p{font-size:clamp(0.75rem, 1.5vw, 1.5rem)}
  .agerestriction{
    font-size:clamp(0.75rem, 1vw, 1.5rem);
    font-weight: 600;
    color: rgb(150, 214, 133);
    background-color: rgb(43, 43, 43);
    padding:clamp(0.25rem, 0.5vw, 0.75rem);
    border-radius: 5px;
  }
  .episodemenu{
    justify-self: center;
    justify-content: center;
    align-items: center;
    display: flex;
    gap:1vw;
  }
  .mainnav{top:0;
  z-index: 1000;
    background-image:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5), rgba(0,0,0,0.3));
    height:min-content;
    margin: 0;
    transition: padding 0.2s;
    width:100%;
    position:fixed;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:clamp(0.5rem, 1vw, 2rem);
    padding-top: clamp(0.5rem, 1vw, 2rem);
    backdrop-filter: blur(3px);
  }
  .mainnav:hover{
    padding-bottom: clamp(1rem, 1.5vw, 2.5rem);
    padding-top: clamp(1rem, 1.5vw, 2.5rem);
    
  }
  .titlebox{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:clamp(0.5rem, 1vw, 1rem);
  }
  @media screen and (max-width:768px) {
    .mainmenu{
      justify-content: center;
    }
    .titlebox{
      flex-direction: column;
    }
    .buttonbox{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .overlay{
      justify-content: center;
    }
    .infobox{
      justify-self: center;
    }

  }
  .newepbutton{
    text-align: center;
    color:white;
    font-size: clamp(0.75rem, 1vw, 1.5rem);
    font-weight: 600;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:rgb(221, 2, 2); 
    border-radius: 5px;
    text-decoration: none;    
    cursor: pointer;   
    padding:clamp(0.2rem, 0.5vw, 0.5rem);
    padding-left:clamp(0.5rem, 1vw, 1rem);
    padding-right:clamp(0.5rem, 1vw, 1rem);
    transition: 0.2s;
    box-shadow: 0 0 clamp(0.25rem, 0.5vw, 0.5rem) rgba(255, 0, 0, 0.5);
  }
  .newepbutton:hover, .newepbutton:active{
    background-color: rgb(104, 6, 6);
  }
  .buttons{
    display:flex;
    justify-self: right;
    margin-right:clamp(1rem, 2vw, 3rem);
    gap:clamp(0.5rem, 1vw, 1rem);
  }
  .mainbutton{
    text-align: center;
    color:white;
    font-size: clamp(0.75rem, 1vw, 1.5rem);
    font-weight: 100;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:none; 
    text-decoration: none;    
    cursor: pointer;   
    letter-spacing: min(0.3vw, 0.5rem);    
    margin:clamp(0.1875rem, 0.25vw, 0.375rem);
    border-bottom: 1px solid transparent;
    transition: 0.5s;
  }
  .mainbutton:hover, .mainbutton:active{
    text-shadow: 0 0 1vw rgba(245, 222, 179, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .titlemainmenu{
    margin:0;
    display:block;
    text-decoration: none;
    font-size:clamp(3.3rem, 6vw, 6rem); 
      color:white;
      font-weight: 1000;
      text-align: center;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  #logo{
    margin:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display:inline-block;
    font-size:clamp(1rem, 2vw, 3rem);
    color:white;
    font-weight:900;
    letter-spacing: 1vw;
    margin-left:clamp(1rem, 2vw, 3rem);
  }
  
  .title{ 
    text-decoration: none;
    margin: 0%;
    font-size:clamp(1.5rem, 3vw, 4rem); 
      color:rgb(18, 19, 36);
      font-weight: 100;
      text-align: center;
      padding: clamp(1.5rem, 2.5vw, 2.5rem);
  }
  .overlay{
    display: flex;
    flex-direction: column;
    gap:clamp(1rem, 2vw, 2rem);
  }
  .mainmenu{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2),black), url(https://i.ibb.co.com/chbBgqsx/mainmenubg.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height:100dvh;
    width:100%;
    display:flex;
    align-items: center;
  }
  .buttonbox{
    display:flex;

    gap:clamp(1rem, 2vw, 3rem);
  }
  @media  screen and (min-width:768px) {
    .buttonbox{
      flex-direction: row;
    }
    .overlay{
      margin-left:clamp(1rem, 2vw, 3rem);
    }
  }
 
  h1{
    margin:0;
    font-size:2.5vw;
      color:white;
      font-weight: 700;
      text-align: left;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .creatorbox{
    width:100%;
    display:flex;
    gap:4vw;
    align-items: center;
    border-top:2px solid rgba(255, 255, 255, 0.25);
    padding-top: 1vw;
  }
  .infoname{
    font-size:4vw;
    color:rgb(220, 220, 220);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.5vw;
  }
  .info{
    gap:1vw;
    display:flex;
    justify-content: left;
    justify-self: left;
    flex-direction: column;
    font-size:1vw;
    color:rgb(220, 220, 220);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
  }
  #bonus h1{
    text-align: center;
  }
  #bonus{
    margin:0;
    display:flex;
    align-items: center;
    justify-self: left;
    width:40%;
    flex-direction: column;
    gap:1vw;
  }
  h3{
    width:50%;
    border-top:2px solid rgba(255, 255, 255, 0.25);
    color:transparent;

  }
  .desctext{
    font-size:1vw;
    color:rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
  }
  .section2{
    padding:2vw;
    display:flex;
    gap: 2vw;
    flex-direction: row-reverse;
  }
  #description h1{
    display:flex;
    justify-self:left;
    width:100%;
  }
  #description{
    gap:2vw;
    flex-direction: column;
    display:flex;
    justify-content: left;
    justify-self: right;
    align-items: center;
    width:60%;
  }
  .buttonmain{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-size: clamp(1rem, 1.5vw, 2rem);
  padding:clamp(0.75rem, 1.25vw, 1.25rem);
  padding-left: clamp(1.5rem, 2.5vw, 3.5rem);
  padding-right: clamp(1.5rem, 2.5vw, 3.5rem);
  border-radius:10px;
  }
  .soundbuttonmain{
    background-color: rgb(36, 57, 77);
    border:1px solid rgba(245, 222, 179, 0.3  );
    color:rgb(255, 255, 255);
    transition:0.2s;
  }
  .playbuttonmain{
  background-color: rgb(243, 213, 157);
  border:1px solid rgb(255, 255, 255, 0.3);
  color:black;
  transition:0.2s;
  }
  .soundbuttonmain:hover, .soundbuttonmain:active{
    background-color:rgb(66, 102, 134);
  }
  .playbuttonmain:hover, .playbuttonmain:active{
    background-color: rgb(102, 89, 64);
    color:white;
  }
  .episodes{
    display:flex;
    width:100%;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin-bottom:2vw;
    gap:1vw;
  }
  #eps1, #eps2{
    scroll-behavior: smooth;
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    gap:1vw;
  }
  .epbutton{
    display: flex;
    padding-top:2.5vw;
    padding-bottom: 2.5vw;
    background-image:url(https://i.ibb.co.com/70W87VN/left.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 2.125vw;
    padding-right: 2.125vw;
    text-align: center;
  }
  .epbutton:hover{
    opacity: 0.7;
  }
  .epbutton:active{
    opacity: 0.5;
  }
  
  .next{
    rotate: 180deg;
  }
  .title a{
    background-color:rgba(255, 255, 255, 0.023);text-decoration: none; color:white; border: 0.1vw solid  white; border-radius: 2vw; padding-bottom: 1vw;padding-top: 1vw; padding-left: 15vw; padding-right: 15vw; text-align: center;text-shadow: 0 0 0.5vw rgba(0,0,0,0.3);
    transition: 0.2s;
  }
  .title a:hover{
    font-size: 2.25vw;
    padding-left: 16vw;
    padding-right: 16vw;
    background-color: rgba(255, 255, 255, 0.1);
    text-shadow: 0 0 0.5vw rgba(0,0,0,0.2);
    opacity: 0.8;
  }
  .title a:active{
    opacity: 0.5;
  }
  section{
    background-color: black;
    background-image: linear-gradient(90deg, rgba(41, 41, 41, 0.375), rgba(0, 0, 0), rgba(41, 41, 41  , 0.375));
  }
  .cardep{
    width:17.5vw;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    color: white;
    display: inline-block;
    aspect-ratio: 16/9;
    border-radius: 0.5vw; 
    background-position: center;
    transition: 0.2s;
    opacity:75%;
  }
  .cardep1{
    background-image:linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url(https://i.ibb.co.com/j19N12H/1ep.png);
  }
  .cardep2{
    background-image:linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url(https://i.ibb.co.com/fT378SX/2ep.png);
  }
  .cardep3{
    background-image:linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url(https://i.ibb.co.com/gM7Mp0YK/3ep.png);
  }
  .cardep4{
    background-image:linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url(https://i.ibb.co.com/W4f2vS4j/4ep.png);
  }
  .cardep5{
    background-image:linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url(https://i.ibb.co.com/TMCq9mYQ/5ep.png);
  }
  .cardep6{
    background-color: black;
    background-image:linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url(https://i.ibb.co.com/JjFNY4sF/placeholder.png);
  }
  .cardep7{
    background-color: black;
    background-image:linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url(https://i.ibb.co.com/JjFNY4sF/placeholder.png);
  }
  .cardep8{
    background-image:linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url(https://i.ibb.co.com/6cyx3smH/8ep.jpg);
  }
  .cardep:hover{
    opacity:100%
  }
  .cardeptext{
    font-size:1.25vw;
    text-decoration: none;
    bottom: -5vw;
    left:1.5vw;
    position:relative;
    transition:0.2s
  }
  body {
    margin:0;
    padding:0;
    background-image: linear-gradient(black, rgba(0,0,0,0.9), black), url(gif.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-color: black;
  }
.container{
  padding:2vw;
  animation: slideIn 1s linear;
}
  .slider-wrapper{
    position: relative;
    max-width: 30vw;
    margin: 0 auto;
  }
  .slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x:hidden;
    scroll-snap-type: x mandatory ;
    scroll-behavior: smooth;
    border-radius: 2vw;
  }
  .slider img{
    flex: 2 0 75%;
    scroll-snap-align: start;
    object-fit:contain;
    transition:flex 0.2s;
    margin:0;
  }
  .slider-nav{
    display:flex;
    column-gap:2vw;
    position: absolute;
    left:3.5%;
    bottom: 1.25vw;
    transform: translateX(-0.5);
    z-index: 1;
  }
    .slider-nav a{
      width:4vw;
      height: 4vw;
      cursor: pointer;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0.25;
      transition: 0.25s;
    }
    .slider-nav a:hover{
      opacity: 1;
      background-color: wheat;
    }

.pin-container {
  
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    background-color: none;
    text-align: center;
    animation: slideIn 0.2s linear;
}
.input-group input {
  color:rgba(255, 255, 255, 0.7);
  background-color: transparent;
    width: 4vw;
    height: 5vw;
    margin: 0 1vw;
    text-align: center;
    font-size: 3vw;
    border: 0.2vw solid darkgrey;
    border-radius: 25%;
    transition:0.2s
}
.input-group input:hover{
  width:4.5vw;
  height:5.5vw
}
.input-group input:focus {
    outline: none;
    border-color: #007bff;
}
.submit {
    font-family: "Special Elite", syste,-ui;
    margin-top: 2vh;
    padding: 1vw 2vw;
    font-size: 2vw;
    cursor: pointer;
    transition:0.2s;
    background-color: transparent;
    color:rgb(206, 206, 206);
    border-right:transparent;
    border-left:transparent;
    border-bottom:grey; border-top:grey ;
    border-style: solid;
}
.submit:hover{
  padding-left: 3vw;
  padding-right: 3vw;
}
h2{   font-family: "Special Elite", syste,-ui;
color:wheat; font-size: 3vw; transition:0.2s;}
#access-link.success {
  text-decoration: none;
  background-image: url(https://i.ibb.co.com/JWK5fLkq/folder.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 5vw;
  transition: 0.2s;
  animation: slideIn 1s linear;
}
#access-link.success:hover{
  padding:6vw;
}
#pin-container.success{
  display: none;
}
@keyframes slideIn {
    from { opacity: 0; transform: translateY(2vw); }
    to { opacity: 1; transform: translateY(0); }
}


